---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import WhyWork from '../components/WhyWork.astro';
import PropertySearch from '../components/PropertySearch.astro';
import Listings from '../components/Listings.astro';
import Reviews from '../components/Reviews.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <WhyWork />
    <Listings />
    <Reviews />
    <PropertySearch />
    <Contact />
  </main>
  <Footer />
</Layout>
